{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Languages</title>
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'mobile.css' %}">
	<script src="{% static 'mobile.js' %}" type="text/javascript"></script>
</head>
<body>
	<div id="page">
		
		<div id="body">
			<div>
				<h1>languages</h1>
				<img src="{% static 'images/u2.png' %}" alt="">
				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris. Mauris sit amet massa vitae tortor condimentum lacinia quis. At tellus at urna condimentum mattis. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum. Lobortis scelerisque fermentum dui faucibus in ornare. Tempus urna et pharetra pharetra massa. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Risus viverra adipiscing at in tellus integer. Leo vel fringilla est ullamcorper eget nulla facilisi etiam. Adipiscing elit pellentesque habitant morbi.

					Ut consequat semper viverra nam libero justo laoreet. Id porta nibh venenatis cras sed felis eget. Faucibus pulvinar elementum integer enim neque. Pulvinar proin gravida hendrerit lectus a. Tempor orci dapibus ultrices in iaculis nunc sed augue. Porttitor lacus luctus accumsan tortor posuere. Sem et tortor consequat id porta nibh venenatis cras. Lacus sed viverra tellus in hac habitasse. Nascetur ridiculus mus mauris vitae. Lacus luctus accumsan tortor posuere ac ut consequat semper. In iaculis nunc sed augue. Sit amet nisl purus in mollis nunc sed. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Tempus imperdiet nulla malesuada pellentesque. In est ante in nibh mauris.
					
					Magna fermentum iaculis eu non diam phasellus vestibulum lorem. Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Non pulvinar neque laoreet suspendisse interdum consectetur libero. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Ultrices eros in cursus turpis massa tincidunt dui ut. In pellentesque massa placerat duis ultricies lacus sed. Tincidunt arcu non sodales neque. Diam volutpat commodo sed egestas egestas. Convallis aenean et tortor at risus viverra adipiscing at. Elit pellentesque habitant morbi tristique senectus et netus et. Vel pharetra vel turpis nunc eget lorem dolor sed. Mattis nunc sed blandit libero volutpat sed cras. Sed enim ut sem viverra aliquet eget sit amet. Adipiscing tristique risus nec feugiat in.
					
					Senectus et netus et malesuada fames. Senectus et netus et malesuada fames. Scelerisque purus semper eget duis at tellus at urna condimentum. Lacus viverra vitae congue eu consequat ac. Enim diam vulputate ut pharetra sit amet aliquam id. Porttitor lacus luctus accumsan tortor posuere ac. Vehicula ipsum a arcu cursus vitae congue mauris. Non arcu risus quis varius quam quisque id diam. Tempus urna et pharetra pharetra massa massa ultricies mi. Non blandit massa enim nec dui nunc mattis enim ut. Id nibh tortor id aliquet lectus proin. Nec sagittis aliquam malesuada bibendum arcu. Non diam phasellus vestibulum lorem. Vitae elementum curabitur vitae nunc sed velit dignissim sodales ut.
					
					Nibh mauris cursus mattis molestie a iaculis at erat pellentesque. Ullamcorper sit amet risus nullam eget felis eget. Turpis tincidunt id aliquet risus feugiat in ante. Sit amet facilisis magna etiam. Nec tincidunt praesent semper feugiat. Tristique senectus et netus et malesuada. Tellus molestie nunc non blandit massa enim nec dui. Dignissim convallis aenean et tortor at risus viverra adipiscing at. Nisl condimentum id venenatis a. Lacus sed turpis tincidunt id aliquet risus feugiat in ante. Urna duis convallis convallis tellus id interdum velit laoreet id. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Egestas dui id ornare arcu odio. Ut pharetra sit amet aliquam id diam. Leo duis ut diam quam nulla porttitor massa id. Pulvinar etiam non quam lacus. Dui faucibus in ornare quam viverra. Viverra maecenas accumsan lacus vel. Libero nunc consequat interdum varius sit.</h2>
				<p>Design Version 2. Code Version 1. Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/discuss/running/">Running Website Template</a>. Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>. Please feel free to remove some or all the text and links of this page and replace it with your own About content.</p>
			</div>
		</div>
		
	</div>
</body>
</html>
{% endblock %}