{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Languages</title>
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'mobile.css' %}">
	<script src="{% static 'mobile.js' %}" type="text/javascript"></script>
</head>
<body>
	<div id="page">
		
		<div id="body">
			<div>
				<h1>languages</h1>
				<img src="{% static 'images/u2.png' %}" alt="">
				<h2>من حسام سادات متولد 6/12/1362 در مشهدهستم </h2>
				<p>بعد از اتمام دوران داشگاه از برنامه نویسی و تحصیلاتم بدلیل شغلی که داشتم فاصله گرفتم در دوران تحصیل با زبانهای برنامه نویسی معمول کار کردم</p>
				<p>C++ , C# , asp , java </p>
				<p>هم اکنون در حال یادگیری پایتون و فرمورک جنگو هستم رزومه کاری خاصی ندارم اما امیدوارم بعد از مدتها بتونم دوبار در زمینه برنامه نویسی فعالتر و پویاتر باشم</p>
			</div>
		</div>
		
	</div>
</body>
</html>
{% endblock %}